<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/vomics">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/comics">Comics</a>
          </li>
          <% if(user){ %>
            <li class="nav-item">
              <a class="nav-link" href="/comics/new">Add Comic</a>
            </li>
            <% } %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Genres
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/comics/genre/superhero">Superhero</a></li>
              <li><a class="dropdown-item" href="/comics/genre/manga">Manga</a></li>
              <li><a class="dropdown-item" href="/comics/genre/humor">Humor</a></li>
              <li><a class="dropdown-item" href="/comics/genre/slice-of-life">Slice-of-Life</a></li>
              <li><a class="dropdown-item" href="/comics/genre/sci-fi">Sci-fi</a></li>
              <li><a class="dropdown-item" href="/comics/genre/fantasy">Fantasy</a></li>
              <li><a class="dropdown-item" href="/comics/genre/horror">Horror</a></li>
              <li><a class="dropdown-item" href="/comics/genre/action">Action</a></li>
              <li><a class="dropdown-item" href="/comics/genre/nonfiction">NonFiction</a></li>
            </ul>
          </li>
          <% if(user){ %> 
            <li class="nav-item">
              <a class="nav-link" href="/logout">LogOut</a>
            </li>
          <% }else { %> 
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">SignUp</a>
            </li>
             <% } %> 
          
        </ul>
        <form class="d-flex" method="GET" action="/comics/search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="term">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container">
    
    <% if(errorMessage && errorMessage.length>0){ %>
      
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= errorMessage %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %>
      
      <% if(successMessage && successMessage.length > 0){ %> 
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= successMessage %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% } %>
  </div>