<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/vomics">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/comics">Comics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/comics/new">Add New</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Genres
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Superhero</a></li>
              <li><a class="dropdown-item" href="#">Manga</a></li>
              <li><a class="dropdown-item" href="#">Humor</a></li>
              <li><a class="dropdown-item" href="#">Slice-of-Life</a></li>
              <li><a class="dropdown-item" href="#">Sci-fi</a></li>
              <li><a class="dropdown-item" href="#">Fantasy</a></li>
              <li><a class="dropdown-item" href="#">Horror</a></li>
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Non Fiction</a></li>
            </ul>
          </li>
          <% if(user){ %> 
            <li class="nav-item">
              <a class="nav-link" href="/logout">LogOut</a>
            </li>
          <% }else { %> 
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">SignUp</a>
            </li>
             <% } %> 
          
        </ul>
        <form class="d-flex" method="GET" action="/comics/search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="term">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>